body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}


.button-container {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5%;
    margin-right: 8%;
  }

.button-container button {
display: block;
width: 100%;
margin-bottom: 10px;
background-color: rgb(201, 170, 132);
color: black;
border-color: black;
}

.weather-display {
    border: solid 3px;
    border-radius: 7deg;
    border-color: black;
}
.emoji{
    font-size: 3em;
    text-align: center;
}

.city-and-date {
    font-size: 1em;
    text-align: center;
}
